<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.activiti.designer.eclipse.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.activiti.designer.eclipse.navigator.BpmnTreeContentProvider"
            id="org.activiti.designer.eclipse.navigatorContent"
            labelProvider="org.activiti.designer.eclipse.navigator.BpmnLabelProvider"
            name="Activiti navigator content"
            priority="higher">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.activiti.designer.eclipse.navigator.nodes.BpmnElementsNode">
               </instanceof>
               <instanceof
                     value="org.eclipse.bpmn2.StartEvent">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonWizard
            type="import"
            wizardId="org.activiti.designer.eclipse.commonWizard1">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.activiti.designer.eclipse.activitinature">
               </test>
            </adapt>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            fixed="false"
            icon="community_icon.png"
            id="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            name="Activiti">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.activiti.designer.eclipse.category"
            name="Activiti">
      </category>
      <wizard
            category="org.activiti.designer.eclipse.category"
            class="org.activiti.designer.eclipse.ui.CreateActivitiProjectWizard"
            finalPerspective="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            icon="community_icon.png"
            id="org.activiti.designer.eclipse.ui.CreateActivitiProjectWizard"
            name="Activiti project"
            project="true">
      </wizard>
      <wizard
            category="org.activiti.designer.eclipse.category"
            class="org.activiti.designer.eclipse.ui.CreateDiagramWizard"
            finalPerspective="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            icon="community_icon.png"
            id="org.activiti.designer.eclipse.ui.CreateDiagramWizard"
            name="Activiti diagram">
      </wizard>
   </extension>
   <extension
         id="org.activiti.designer.nature"
         name="Activiti nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.activiti.designer.eclipse.common.ActivitiProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.activiti.designer.eclipse.common.ActivitiEclipseImageProvider"
            id="org.activiti.designer.eclipse.common.ActivitiImageProvider">
      </imageProvider>
   </extension>

</plugin>
