<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="The BPMN diagram for the Activiti process engine"
            id="org.activiti.graphiti.bpmn.designer.DiagramTypeBPMN"
            name="Activiti BPMN diagram type"
            type="BPMNdiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.activiti.graphiti.bpmn.designer.diagram.ActivitiBPMNDiagramTypeProvider"
            id="org.activiti.graphiti.bpmn.designer.diagram.ActivitiBPMNDiagramTypeProvider"
            name="Activiti BPMN editor">
         <diagramType
               id="org.activiti.graphiti.bpmn.designer.DiagramTypeBPMN">
         </diagramType>
         <imageProvider
               id="org.activiti.graphiti.bpmn.designer.ActivitiImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.activiti.graphiti.bpmn.designer.ActivitiImageProvider"
            id="org.activiti.graphiti.bpmn.designer.ActivitiImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="BPMNdiagram.PropertyContributor">
         <propertyCategory
               category="Activiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="BPMNdiagram.PropertyContributor">
         <propertyTab
               category="Activiti"
               id="org.activiti.graphiti.bpmn.designer.propertyTab"
               label="Main">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="BPMNdiagram.PropertyContributor">
         <propertySection
               class="org.activiti.graphiti.bpmn.designer.property.PropertyDiagramSection"
               filter="org.activiti.graphiti.bpmn.designer.property.PropertyDiagramFilter"
               id="org.activiti.graphiti.bpmn.designer.propertyTab.diagram"
               tab="org.activiti.graphiti.bpmn.designer.propertyTab">
         </propertySection>
         <propertySection
               class="org.activiti.graphiti.bpmn.designer.property.PropertySequenceFlowSection"
               filter="org.activiti.graphiti.bpmn.designer.property.PropertySequenceFlowFilter"
               id="org.activiti.graphiti.bpmn.designer.propertyTab.sequenceflow"
               tab="org.activiti.graphiti.bpmn.designer.propertyTab">
         </propertySection>
         <propertySection
               class="org.activiti.graphiti.bpmn.designer.property.PropertyScriptTaskSection"
               filter="org.activiti.graphiti.bpmn.designer.property.PropertyScriptTaskFilter"
               id="org.activiti.graphiti.bpmn.designer.propertyTab.scripttask"
               tab="org.activiti.graphiti.bpmn.designer.propertyTab">
         </propertySection>
         <propertySection
               class="org.activiti.graphiti.bpmn.designer.property.PropertyServiceTaskSection"
               filter="org.activiti.graphiti.bpmn.designer.property.PropertyServiceTaskFilter"
               id="org.activiti.graphiti.bpmn.designer.propertyTab.servicetask"
               tab="org.activiti.graphiti.bpmn.designer.propertyTab">
         </propertySection>
         <propertySection
               class="org.activiti.graphiti.bpmn.designer.property.PropertyUserTaskSection"
               filter="org.activiti.graphiti.bpmn.designer.property.PropertyUserTaskFilter"
               id="org.activiti.graphiti.bpmn.designer.propertyTab.usertask"
               tab="org.activiti.graphiti.bpmn.designer.propertyTab">
         </propertySection>
         <propertySection
               class="org.activiti.graphiti.bpmn.designer.property.PropertyBpmnSection"
               filter="org.activiti.graphiti.bpmn.designer.property.PropertyBpmnFilter"
               id="org.activiti.graphiti.bpmn.designer.propertyTab.flowelement"
               tab="org.activiti.graphiti.bpmn.designer.propertyTab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.activiti.graphiti.bpmn.designer.generateProcessRunner"
               label="Generate Process Runner Class"
               style="push">
         </command>
      </menuContribution> 
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.activiti.graphiti.bpmn.designer.runner.GenerateRunnerHandler"
            id="org.activiti.graphiti.bpmn.designer.generateProcessRunner"
            name="GenerateProcessRunner">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.activiti.graphiti.bpmn.designer.preferences.ActivitiPreferencePage"
            id="org.activiti.graphiti.bpmn.designer.preferences"
            name="Activiti">
      </page>
   </extension>
</plugin>
