.view-process-diagram span.first-child button
{
  background: url("../../images/process-view-icon.png") no-repeat center transparent;
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: -1000em;

}

.processInstances h1 {
  float: left;
}

.processInstances .yui-pg-container {
  float: right;
}

.processInstances .activiti-datalist.yui-dt {
  clear: both;
}

